/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    font-family: Inter, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
}

.info {
    padding: 0px 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    margin-left: 18%;
    margin-right: 18%;
    
}

.info > img {
    width: 420px;
    margin-top: 0px;
    height: 90%;
}

.info > h2 {
    color: #2B233A;
    font-size: 35PX;
    margin-bottom: 8px;
    white-space: nowrap;  /* Prevents text from wrapping */
}

.info > h5 {
    color: #2B233A;
    font-size: 15PX;
    color: #4A4E74;
    font-weight: 100;
    white-space: nowrap;  /* Prevents text from wrapping */
    margin-top: 18px;
}

.info > h4 {
    margin-top: 0px;
    color: #F47D27;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 0px;
}

.info--buttons {
    display: flex;
}

.info--email {
    width: 180px;
    height: 60px; /* Set the height of the buttons */
    padding-top: 0px; /* Remove default padding */
    border: none; /* Optional: Remove button borders */
    background: none; /* Optional: Remove default button background */

}

.info--buttons--ll {
    margin-left: 30px;
}

.info--email img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image scales proportionally */
}

.about {
    background-color: #F5F5F5;
    padding: 0px 125px;
    margin-left: 18%;
    margin-right: 18%;
}

.about {
    background-color: #F5F5F5;
    padding: 0px 65px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 0%;
}

.about > h3 {
    font-size: 25px;
    padding-left: 0px;
    color: #2B283A;
    
}

.about > p {
    color: #4A4E74;
    font-weight: 100;
    line-height: 150%;
}

.interests {
    background-color: #F5F5F5;
    padding: 0px 65px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 0%;
    padding-bottom: 10px;
}

.interests > h3 {
    font-size: 25px;
    padding-left: 0px;
    color: #2B283A;
    
}

.interests > p {
    color: #4A4E74;
    font-weight: 100;
    line-height: 150%;
}

.footer {
    padding: 25px 75px;
    background-color: #D5D4D8;
    display: flex;
    justify-content: space-between;
    margin-left: 18%;
    margin-right: 18%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.footer > img {
    width: 900px; /* Increase the image size */
    margin: 0 20px;
}